Chapter 6/service.interface/Web References/ServiceGateway/CatalogServiceInterface.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:s1="http://nunit.org/webservices" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://nunit.org/services" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://nunit.org/services" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://nunit.org/services">
      <s:import namespace="http://nunit.org/webservices" />
      <s:element name="FindByRecordingId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindByRecordingIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:Recording" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://nunit.org/webservices">
      <s:element name="Recording" type="s1:RecordingDto" />
      <s:complexType name="RecordingDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="artistName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="releaseDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="labelName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="tracks" type="s1:TrackDto" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="reviews" type="s1:ReviewDto" />
          <s:element minOccurs="0" maxOccurs="1" name="totalRunTime" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="averageRating" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TrackDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="artistName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="duration" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="genreName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ReviewDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="reviewerName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="rating" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="reviewContent" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </types>
  <message name="FindByRecordingIdSoapIn">
    <part name="parameters" element="s0:FindByRecordingId" />
  </message>
  <message name="FindByRecordingIdSoapOut">
    <part name="parameters" element="s0:FindByRecordingIdResponse" />
  </message>
  <portType name="CatalogGatewaySoap">
    <operation name="FindByRecordingId">
      <input message="s0:FindByRecordingIdSoapIn" />
      <output message="s0:FindByRecordingIdSoapOut" />
    </operation>
  </portType>
  <binding name="CatalogGatewaySoap" type="s0:CatalogGatewaySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="FindByRecordingId">
      <soap:operation soapAction="http://nunit.org/services/FindByRecordingId" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CatalogGateway">
    <port name="CatalogGatewaySoap" binding="s0:CatalogGatewaySoap">
      <soap:address location="http://localhost/ServiceInterface/CatalogServiceInterface.asmx" />
    </port>
  </service>
</definitions>